{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		{# Envoi du template pour les candidats: #}
		{% if app.user.type == 'candidat' %}

			<div class="container" style="background-color:white;margin:auto;padding:40px;font-size:20px;"> 

				{% for message in app.session.flashbag.get('succes') %}
					{{ message }}
					<hr>
				{% endfor %}
				

					<h3 style="text-align:center;border-style:solid;border-radius:12px; background-color:#ADAD85;padding:30px;">Offres sélectionnées :</h3>

						{# Récupération indifferenciée de toutes les jobOffers selon qu'elles ont été choisies par l'user. La recuperation des donnees app.user suffit: #}
						{% for job in app.user.jobOffers %}
						
							<p style="text-align:center;"><strong><a href="{{ path('front_office_emploi_jobOffer_showOne',{id:job.id}) }}" >{{ job.title}}</a></strong></p><br>

							<strong>Poste proposé :    </strong> {{ job.descriptionJob }}<br>
							<strong>Contrat :          </strong> {{ job.contract }}<br>
							<strong>Date de l'annonce :</strong> {{ job.dateCreated | date('d-m-Y') }}<br>
							<strong>Sélectionnée le :  </strong> {{ job.dateSelected | date('d-m-Y') }}<br><br>

							<a href="{{ path('front_office_emploi_jobOffer_responseJobOffer',{id:job.id}) }}"><button>Candidatez</button></a>

							<a href="{{ path('front_office_emploi_myResponseOneJobOffer',{id:job.id}) }}"><button>Ma candidature</button></a>

							<hr>																									
						{% endfor %}<br><br>	

			</div>

		{# Envoi du template pour les employers: #}	
		{% else %}
			<div class="container" style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;"> 	

				<h3 style="text-align:center;">Offres postées :</h3>

				{# Récupération indifferenciée de toutes les jobOffers selon qu'elles ont été créées
 				 par l'user. La recuperation des donnees app.user suffit: #}
				{% for job in app.user.jobOffers %}
					<strong>{{ job.title}}<strong><br>
					Poste proposé : {{ job.descriptionJob}}<br>
					Contrat : {{ job.contract}}<br>
					Date de l'annonce : {{ job.dateCreated | date('d-m-Y') }}<br>

					<p><a href="{{ path('front_office_emploi_myResponseOneJobOffer',{id:job.id}) }}">Voir les réponses obtenues :</a></p>
					
					<a href="{{ path('front_office_emploi_employer_desactivateJobOffer',{id:job.id})}}"><button>Retirer cette offre du marché</button></a><br><br>

					<hr>
				{% endfor %}

			</div>

		{% endif %}

	{% endblock %}