{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		{# Envoi du template pour les candidats: #}
		{% if app.user.type == 'candidat' %}

			<div class="container" style="background-color:white;margin:auto;padding:40px;font-size:20px;"> 

				{% for message in app.session.flashbag.get('succes') %}
					<div class="flash">{{ message }}</div>
					<hr>
				{% endfor %}
				

					<h3 id="top" style="text-align:center;border-style:solid;border-radius:12px; background-color:#ADAD85;padding:30px;">Offres sélectionnées :</h3>

						{# Récupération indifferenciée de toutes les jobOffers selon qu'elles ont été choisies par l'user. La recuperation des donnees app.user suffit: #}
						{% for job in app.user.jobOffers %}
						
							<p style="text-align:center;"><strong><a href="{{ path('front_office_emploi_jobOffer_showOne',{id:job.id}) }}" >{{ job.title}}</a></strong></p><br>

							<strong>Poste proposé :    </strong> {{ job.descriptionJob }}<br>
							<strong>Contrat :          </strong> {{ job.contract }}<br>
							<strong>Date de l'annonce :</strong> {{ job.dateCreated | date('d-m-Y') }}<br>
							<strong>Sélectionnée le :  </strong> {{ job.dateSelected | date('d-m-Y') }}<br><br>

							<a href="{{ path('front_office_emploi_jobOffer_responseJobOffer',{id:job.id}) }}"><button>Candidatez</button></a>

							<a href="{{ path('front_office_emploi_myResponseOneJobOffer',{id:job.id}) }}"><button>Ma candidature</button></a>

							<hr>																									
						{% endfor %}

						<a href="#top"><button style="margin-left:475px;">Retour en haut de page</button></a>
			</div>

		{# Envoi du template pour les employers: #}	
		{% else %}
			<div class="container" style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;"> 	

				<h3 id="top" style="text-align:center;border-style:solid;border-radius:12px; background-color:#99FF66;padding:30px;">Offres postées :</h3>

					

						{# Récupération indifferenciée de toutes les jobOffers selon qu'elles ont été créées
		 				 par l'user. La recuperation des donnees app.user suffit: #}
						{% for job in app.user.jobOffers %}
							<div style="text-align:left;">
							<strong><p style="text-align:center;">{{ job.title}}</p></strong><br>
							<strong>Poste proposé :</strong> {{ job.descriptionJob}}<br>
							<strong>Contrat :</strong> {{ job.contract}}<br>
							<strong>Date de l'annonce :</strong> {{ job.dateCreated | date('d-m-Y') }}<br>

							<a href="{{ path('front_office_emploi_myResponseOneJobOffer',{id:job.id}) }}"><button>Voir les réponses</button></a>
							
							<a href="{{ path('front_office_emploi_employer_desactivateJobOffer',{id:job.id})}}"><button>Désactiver cette offre</button></a>
							</div>
							<hr>					

				{% endfor %}

				<a href="#top"><button style="margin-left:475px;">Retour en haut de page</button></a>

			</div>

		{% endif %}

	{% endblock %}