{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		{% if app.user.type == 'candidat' %}

			<div class="container" style="background-color:white;margin:auto;padding:40px;font-size:20px;"> 

				{% for message in app.session.flashbag.get('succes') %}
					{{ message }}
					<hr>
				{% endfor %}
				

					<h3 style="text-align:center;">Offres sélectionnées :</h3>

						{% for job in app.user.jobOffers %}
						
							<strong><a href="{{ path('front_office_emploi_jobOffer_showOne',{id:job.id}) }}" >{{ job.title}}</a><strong><br>

							Poste proposé :     {{ job.descriptionJob }}<br>
							Contrat :           {{ job.contract }}<br>
							Date de l'annonce : {{ job.dateCreated | date('d-m-Y') }}<br>
							Sélectionnée le :   {{ job.dateSelected | date('d-m-Y') }}<br><br>

							<a href="{{ path('front_office_emploi_jobOffer_responseJobOffer',{id:job.id}) }}">Candidatez à cette offre !</a><br><br>

							<a href="{{ path('front_office_emploi_myResponseOneJobOffer',{id:job.id}) }}">Voir le détail de ma candidature :</a>

							<hr>																																							
							{# Réponse:<br>
								{% for answers in jobOfferResponseByUser %}								
									Intitulé de ma réponse : {{ answers.content }}<br>
									Date d'envoi de ma candidature : {{ answers.dateCreated | date('d-m-Y') }}<br>
									CV: <a href="{{ path('front_office_emploi_candidat_updateCv',{id:answers.cuvitae.id}) }}">{{ answers.cuvitae.title }}</a><br>
										{{ answers.cuvitae.gradeOne }}<br>
										{{ answers.cuvitae.gradeTwo }}<br>
										{{ answers.cuvitae.languages }}<br>
										{{ answers.cuvitae.workExperience1 }}<br>
										{{ answers.cuvitae.workExperience2 }}<br>
									
									LM: <a href="{{ path('front_office_emploi_candidat_updateLm',{id:answers.motivationLetter.id})}}">{{ answers.motivationLetter.subject }}</a><br>
										{{ answers.motivationLetter.dateCreated | date('d-m-Y') }}<br>							
								{% endfor %} #}

							<hr>						
						{% endfor %}<br><br>	

			</div>

		{% else %}

			<div class="container" style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;"> 	

				<h3 style="text-align:center;">Offres postées :</h3>		

				{% for job in app.user.jobOffers %}
					<strong>{{ job.title}}<strong><br>
					Poste proposé : {{ job.descriptionJob}}<br>
					Contrat : {{ job.contract}}<br>
					Date de l'annonce : {{ job.dateCreated | date('d-m-Y') }}<br>

					<p><a href="{{ path('front_office_emploi_myResponseOneJobOffer',{id:job.id}) }}">Voir les réponses obtenues :</a></p>

					{# {% for jobResponse in job.responseJobOffer %}
						{{ jobResponse.content }}<br>
						{{ jobResponse.dateCreated | date('d-m-Y') }}<br>

						CV : {{ jobResponse.cuvitae.title }}<br>
							 {{ jobResponse.cuvitae.gradeOne }}<br>
							 {{ jobResponse.cuvitae.gradeTwo }}<br>
							 {{ jobResponse.cuvitae.languages }}<br>
							 {{ jobResponse.cuvitae.workExperience1 }}<br>
							 {{ jobResponse.cuvitae.workExperience2 }}<br><br>
							 							
						LM : {{ jobResponse.motivationLetter.subject }}<br>
							 {{ jobResponse.motivationLetter.dateCreated | date('d-m-Y') }}<br>
							 {{ jobResponse.motivationLetter.content }}<br>								
					{% endfor %}<br><br>										 	
					 #}
					<a href="{{ path('front_office_emploi_employer_desactivateJobOffer',{id:job.id})}}"><button>Retirer cette offre du marché</button></a><br><br>

					<hr>
				{% endfor %}

			</div>

		{% endif %}

	{% endblock %}