{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div class="container" style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;">

			{% for message in app.session.flashbag.get('notice') %}
				{{ message }}
				<hr>
			{% endfor %}

			{% for messag in app.session.flashbag.get('notice') %}
				{{ messag }}
				<hr>
			{% endfor %}

		</div>

		{% if app.user.type == 'candidat' %}

			<div class="container" style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;">

				
				<strong>{{ app.user.username }}</strong><br><br>

					<h3>Mon profil Candidat : {{ nbJobOffersByUser }} {% if nbJobOffersByUser >1 %} offres sélectionnées {% else %} offre sélectionnée {% endif %} </h3>
					
						{{ candidat.firstname }}<br>
						{{ candidat.lastname }}<br>
						{{ candidat.street }}<br>
						{{ candidat.city }}<br>
					
						<a href="{{ path('front_office_emploi_candidat_update',{id:candidat.id}) }}">Mettre à jour mon profil</a><br>
						<a href="{{ path('front_office_emploi_candidat_showMyCv') }}">Voir mes CV</a><br>
						<a href="{{ path('front_office_emploi_candidat_showMyLm') }}">Voir mes LM</a><br>
						<a href="{{ path('front_office_emploi_myJobOffers_list')}}">Voir mes offres sélectionnées</a><br>
						<a href="{{ path('front_office_emploi_candidat_showMyInscriptions')}}">Mes évenements</a>

			</div>

		{% else %}

			<div class="container" style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;">			

					<h2 style="text-align:center"> {{ oneSociety.name }}</h2>

											
						Secteur d'activité : {{ oneSociety.jobSector.nameSector }}<br>
						Métier : {{ oneSociety.activity }}<br>
						Description : {{ oneSociety.description }}<br>
						Inscrite sur le site depuis le : {{ oneSociety.dateCreated | date('d-m-Y') }}<br>
						{% if oneSociety.dateUpdated  %}
							Dernière mise à jour le : {{ oneSociety.dateUpdated | date('d-m-Y') }}<br>
						{% endif %}

						<a href="{{ path('front_office_emploi_employer_updateSociety',{id:oneSociety.id}) }}">Mettre à jour mon profil employer</a><br>
						<a href="{{ path('front_office_emploi_employer_createJobOffer',{id:oneSociety.id}) }}">Publier une offre d'emploi :</a>

						{% if oneSociety.hiringState == false %}
							<p>Votre société n'est actuellement plus en recherche de talents !</p>
						{% else %}										

							<p>Offres d'emploi de {{ oneSociety.name }} publiées : <a href="{{ path('front_office_emploi_employer_nbJobOffer',{id:oneSociety.id}) }}">Voir mes statistiques :</a></p><br>
							<p><a href="{{ path('front_office_emploi_myJobOffers_list') }}">Voir les réponses obtenues :</a></p><br><br>

							{% for job in oneSociety.jobOffer %}											
								{{ job.title }}<br>
								{{ job.place }}<br>
								{{ job.descriptionJob }}<br>
								{{ job.contract }}<br>
								Offre publiée le : {{ job.dateCreated | date('d-m-Y') }}<br>

								{% if job.activeToPurchase == false %}
									<p>Cette offre est pourvue !</p>
								{% else %}
									<p>Poste à pourvoir !</p>
								{% endif %}
							{% endfor %}

							<hr>

						{% endif %}

						<p>{{ oneSociety.name }} participe aux forums suivants :</p>

							{% for forum in oneSociety.forum %}
								<h4><a href="{{ path('front_office_forum_oneForum',{id:forum.id}) }}">{{ forum.forumName }}</a></h4><br>
								{{ forum.forumType }}<br>
								{{ forum.forumDate | date('m-d-Y') }}<br>
								{{ forum.forumDescription }}<br>
							{% endfor %}



						<hr>						
						
						<a href="{{ path('front_office_emploi_employer_desactivateSociety',{id:oneSociety.id}) }}">Quitter la liste des sociétés qui recrutent</a>

			</div>

		{% endif %}



	{% endblock %}
