{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div class="container" style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;">

			{% for message in app.session.flashbag.get('notice') %}
				<div class="flash">{{ message }}</div>
				<hr>
			{% endfor %}

			{% for messag in app.session.flashbag.get('notice') %}
				<div class="flash">{{ messag }}</div>
				<hr>
			{% endfor %}

		</div>

		{% if app.user.type == 'candidat' %}

			<div class="container" style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;">

				
				<strong style="text-align:center;border-style:solid;border-radius:12px; background-color:#B5FF91;padding:30px;">{{ app.user.username }}</strong><br><br>
				<hr>


					<h3>Profil Candidat : {{ nbJobOffersByUser }} {% if nbJobOffersByUser >1 %} offres sélectionnées ! {% else %} offre sélectionnée. {% endif %} </h3>
				
						<div style ="text-align:left;">
							<p><strong>Prénom:</strong>  {{ candidat.firstname }}</p>
							<p><strong>Nom:</strong>     {{ candidat.lastname }}</p>
							<p><strong>Adresse:</strong> {{ candidat.street }}, {{ candidat.city }}</p>
							<p><strong>Email:</strong>   {{ candidat.user.email }}</p><br>
								
							<a href="{{ path('front_office_emploi_candidat_update',{id:candidat.id}) }}">Mettre à jour mon profil</a>
							<hr>
						</div>

					<h3>Gestion de mes CV et Lettres de motivation:</h3>

						<div style ="text-align:left;">													
							<p>Créez-vous votre CV: <a href="{{ path('front_office_emploi_candidat_createCV')}}">J'enregistre un CV</a></p>
							<p>Voir mes CV: <a href="{{ path('front_office_emploi_candidat_showMyCv') }}">Mes CV</a><br>
																	
							<p>Enregistrez votre Lettre de Motivation: <a href="{{ path('front_office_emploi_candidat_createLM')}}">Enregistrement</a></p>
							<p>Voir mes lettres de motivation: <a href="{{ path('front_office_emploi_candidat_showMyLm') }}">Mes Lettres de motivation</p></a>
							<hr>
						</div>

					<h3>Mon tableau de bord :</h3>

						<div style ="text-align:left;">													
							<p>Voir mes offres sélectionnées: <a href="{{ path('front_office_emploi_myJobOffers_list')}}">Voir mes Offres</a></p>
							
							<p>Mes formations: <a href="{{ path('front_office_emploi_candidat_showMyFormations')}}">Voir mes Formations</a></p>

							<p>Mes forums: <a href="{{ path('front_office_emploi_candidat_showMyForums') }}">Voir mes Forums</a></p>
							
							<hr>
						</div>		

			</div>

		{% else %}

			<div class="container" style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;">			
					<h2 style="text-align:center;border-style:solid;border-radius:12px; background-color:#A3D1FF;padding:40px;"> {{ oneSociety.name }}</h2>

						<h3>Profil :</h3><br><br>
							<div style ="text-align:left;">
							<strong>Métier :</strong>      {{ oneSociety.activity }}<br>
							<strong>Description :</strong> {{ oneSociety.description }}<br>
							<strong>Inscription :</strong> {{ oneSociety.dateCreated | date('d-m-Y') }}<br>
							{% if oneSociety.dateUpdated  %}
								<strong>Dernière mise à jour le :</strong> {{ oneSociety.dateUpdated | date('d-m-Y') }}<br>
							{% endif %}

							<a href="{{ path('front_office_emploi_employer_updateSociety',{id:oneSociety.id}) }}"><button>Mettre à jour mon profil employer</button></a>
								<hr>
							</div>

						<h3>Gestion RH:</h3><br><br>
							<div style ="text-align:left;">
							Publier une offre d'emploi:<a href="{{ path('front_office_emploi_employer_createJobOffer',{id:oneSociety.id}) }}"><button>Je recherche </button></a><br>
							Voir la liste de mes offres publiées :<a href="{{ path('front_office_emploi_myJobOffers_list') }}"><button>Ma recherche de talents</button></a><br>
							Statistiques de {{ oneSociety.name }} : <a href="{{ path('front_office_emploi_employer_nbJobOffer',{id:oneSociety.id}) }}"><button>Voir mes statistiques</button></a></p>												
								<hr>	
							</div>

						<h3>Evenements de recrutement de : {{ oneSociety.name }}</h3>
							<div style ="text-align:left;">
								{% if oneSociety.hiringState == false %}
									<p>Votre société n'est actuellement plus en recherche de talents !</p>
								{% else %}
									<p>Votre société fait partie de la liste des sociétés qui recrutent !</p>
								{% endif %}	

								<p>Mes forums: <a href="{{ path('front_office_emploi_candidat_showMyForums') }}">Voir mes Forums</a></p>

								<hr>

													

								{# {% if oneSociety.forum is not empty %}

									<p>{{ oneSociety.name }} participe aux forums suivants :</p>

										{% for forum in oneSociety.forum %}
											<h4><a href="{{ path('front_office_forum_oneForum',{id:forum.id}) }}">{{ forum.forumName }}</a></h4>
											{{ forum.forumType }}<br>
											{{ forum.forumDate | date('m-d-Y') }}<br>
											{{ forum.forumDescription }}<br>
											<hr>
										{% endfor %}

								{% else %} #}

									

								{# {% endif %} #}

							
							</div>																		

			</div>

		{% endif %}

	{% endblock %}
