{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div class="container" style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;">
			<strong>{{ app.user.username }}</strong><br><br>

			<a href="{{ path('front_office_emploi_candidat_showMyCv') }}">Voir mes CV</a><br>
			<a href="{{ path('front_office_emploi_candidat_showMyLm') }}">Voir mes LM</a><br>
			<a href="{{ path('front_office_emploi_candidat_showMyJobOffers')}}">Voir mes offres sélectionnées</a><br>
			<a href="{{ path('front_office_emploi_candidat_showMyInscriptions')}}">Mes évenements:</a>

		</div>


	{% endblock %}
