{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div class="container" style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;"> 

			<h3>Mes CV enregistrés :<h3>

				{% for message in app.session.flashbag.get('succes') %}
					{{ message }}
					<hr>
				{% endfor %}

				{% for cv in app.user.cuvitae %}
					{{ cv.title }}<br>
					{{ cv.gradeOne }}<br>
					{{ cv.gradeTwo }}<br>
					{{ cv.languages }}<br>
					{{ cv.workExperience1 }}<br>
					{{ cv.workExperience2 }}<br>
					{{ cv.skills }}<br><br>
					<a href="{{ path('front_office_emploi_candidat_deleteCv',{id:cv.id}) }}"> Supprimer ce CV</a>
					<hr>
				{% endfor %}

		</div>

	{% endblock %}