{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div class="container" style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;"> 

			{% for job in app.user.jobOffers %}
				<strong>{{ job.title}}<strong><br>
				Poste proposé : {{ job.descriptionJob}}<br>
				Contrat : {{ job.contract}}<br>
				Date de l'annonce : {{ job.dateCreated | date('d-m-Y') }}<br>
				Sélectionnée le : {{ job.dateSelected | date('d-m-Y') }}<br>
				<hr>
			{% endfor %}

		</div>


	{% endblock %}