{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div class="container" style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;"> 

			<h3>Mes CV enregistrés :<h3>

				{% for message in app.session.flashbag.get('succes') %}
					{{ message }}
					<hr>
				{% endfor %}

				{% for messa in app.session.flashbag.get('notice') %}
					{{ messa }}
					<hr>
				{% endfor %}

				{% for cv in app.user.cuvitae %}
					{{ cv.title }}<br>
					{{ cv.gradeOne }}<br>
					{{ cv.gradeTwo }}<br>
					{{ cv.languages }}<br>
					{{ cv.workExperience1 }}<br>
					{{ cv.workExperience2 }}<br>
					{{ cv.skills }}<br>

					{% if cv.dateUpdated %}
						Dernière mise à jour le : {{ cv.dateUpdated | date('d-m-Y') }}<br><br>
					{% else %}
						<br>
					{% endif %}
					<a href="{{ path('front_office_emploi_candidat_deleteCv',{id:cv.id}) }}"> Supprimer ce CV</a>			
					<a href="{{ path('front_office_emploi_candidat_updateCv',{id:cv.id}) }}">Mettre à jour ce CV</a>
					<hr>
				{% endfor %}

		</div>

	{% endblock %}