{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div class="container" style="background-color:white;text-align:left;margin:auto;padding:40px;font-size:20px;"> 

				<h3 style="text-align:center;border-style:solid;border-radius:12px; background-color:#FFA3A3;padding:30px;">Mes prochaines formations:</h3><br>

				{% for message in app.session.flashbag.get('succes') %}
					<div class="flash">{{ message }}</div><br><br>
				{% endfor %}

				{% for messag in app.session.flashbag.get('notice') %}
					<div class="flash">{{ messag }}</div><br><br>
				{% endfor %}				

				
					{% if user_formation is not empty %}

						{% for forma in app.user.formation %}						
								<strong>Nom :</strong> <a href="{{ path('front_office_formation_showOne',{formationType:forma.formationType, id:forma.id}) }}">{{ forma.formationName }}</a><br>
								<strong>Organisme :</strong>     {{ forma.organism }}<br>
								<strong>Secteur :</strong>       {{ forma.formationType }}<br>
								<strong>Date de Début :</strong> {{ forma.beginingDate | date('d-m-Y') }}<br>
								<strong>Date de Fin : </strong>  {{ forma.endingDate | date('d-m-Y') }}<br>
								<strong>Contenu :</strong>       {{ forma.formationDescription }}<br><br>

								<a href="{{ path('front_office_formation_desinscriptionFormation',{id:forma.id}) }}"><button>Se désinscrire</button></a><br><br>
						{% endfor %}	
						<hr>	


	 				{% else %}			

	 					<p>Vous n'êtes inscrit à aucun forum !</p>

					{% endif %}
															
				
 				
 		</div>


	{% endblock %}