{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div class="container" style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;"> 

			<h3 style="text-align:center;border-style:solid;border-radius:12px; background-color:#99FF66;padding:30px;">Mes CV enregistrés :<h3>

				{% for message in app.session.flashbag.get('succes') %}
					<div class="flash">{{ message }}</div>
					<hr>
				{% endfor %}

				{% for messa in app.session.flashbag.get('notice') %}
					<div class="flash">{{ messa }}</div>
					<hr>
				{% endfor %}

				{% if cuvitae is not empty %}

					<div style ="text-align:left;text-transform :capitalize">

						{% for cv in app.user.cuvitae %}
							<p style="text-align:center;text-transform:uppercase"><strong>{{ cv.title }}</strong></p>	
							{% if cv.gradeOne %}				
								Diplome 1: {{ cv.gradeOne }}<br>
							{% endif %}
							{% if cv.gradeTwo %}
								Diplome 2: {{ cv.gradeTwo }}<br>
							{% endif %}
							{% if cv.languages %}
								Langues: {{ cv.languages }}<br>
							{% endif %}
							{% if cv.workExperience1 %}
								Expérience professionnelle 1: {{ cv.workExperience1 }}<br>
							{% endif %}
							{% if cv.workExperience2 %}
								Expérience professionnelle 2: {{ cv.workExperience2 }}<br>
							{% endif %}
							Languages et compétences informatiques: {{ cv.skills }}<br>
							{% if cv.dateUpdated %}
								<p>Dernière mise à jour le : {{ cv.dateUpdated | date('d-m-Y') }}<br><br>
							{% else %}
								<br>
							{% endif %}
							<a href="{{ path('front_office_emploi_candidat_deleteCv',{id:cv.id}) }}"><button>Supprimer ce CV</button> </a>			
							<a href="{{ path('front_office_emploi_candidat_updateCv',{id:cv.id}) }}"><button>Mettre à jour ce CV</button></a>
							<hr>
						{% endfor %}

					</div>

				{% else %}

					<p>Vous n'avez enregistré aucun CV !</p>
					<a href="{{ path('front_office_emploi_candidat_createCV')}}">Enregistrez un CV !</a>

				{% endif %}

		</div>

	{% endblock %}