{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div class="container" style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;"> 

			<h3 style="text-align:center;border-style:solid;border-radius:12px; background-color:#D6B5D6;padding:30px;">Mes lettres de motivation :</h3><br>

				{% for message in app.session.flashbag.get('suppLm') %}
					<div class="flash">{{ message }}</div>
					<hr>
				{% endfor %}

				{% for messa in app.session.flashbag.get('updateLm') %}
					<div class="flash">{{ messa }}</div>
					<hr>
				{% endfor %}

				<div style ="text-align:left;">

					{% if motivationLetter is not empty %}

						{% for lm in app.user.motivationLetter %}

							<strong>Sujet:</strong> {{ lm.subject }}<br><br>
							<strong>Contenu:</strong> {{ lm.content }}<br>

							{% if lm.dateUpdated %}
								Dernière mises à jour : {{ lm.dateUpdated | date('d-m-Y') }}
								<hr>
							{% endif %}

							<a href="{{ path('front_office_emploi_candidat_updateLm',{id:lm.id}) }}"><button>Mettre à jour</button></a>
							<a href="{{ path('front_office_emploi_candidat_deleteLm',{id:lm.id}) }}"><button>Supprimer</button></a>

							<hr>

						{% endfor %}

					{% else %}

						<p>Vous n'avez enregistré aucune lettre de motivation !</p>

					{% endif %}
					

				</div>

		</div>


	{% endblock %}