{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

   {#  {%  use('FrontOfficeHomepageBundle:Slots:sidebar.html.twig') %} #}


    {% block content %}
       
    <!-- Page Content -->
        <div class="container" style="background-color:white;">

            <div id="top" class="row">

                <!-- Blog Entries Column -->
                <div class="col-md-8">                   

                    <!-- First Blog Post -->
                    {% for article in showArticles %}
                        <h2>
                            <a href="{{ path('front_office_homepage_blog_oneArticle',{id:article.id}) }}">{{ article.title }}</a>
                        </h2>
                        <p class="lead">
                            by  {{ article.author.username }}
                        </p>
                        <p><span class="glyphicon glyphicon-time"></span> Posté le {{ article.dateCreated | date('d-m-Y H:i:s') }}</p>
                        <hr>
                        <img class="img-responsive" src="../../img/{{ article.image }}.jpg" alt="image-developpeurs" style="width:750px;">                        
                        <hr>
                        <p>{{ article.content }}</p>
                        <a class="btn btn-primary" <a href="{{ path('front_office_homepage_blog_oneArticle',{id:article.id}) }}" class="btn btn-default btn-lg">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                        <hr>
                    {% endfor %}  

                    {% if showArticles %}

                        <a href="#top"><button style="margin-left:475px;">Retour en haut de page</button></a>

                    {% else %}

                        <p>Il n'y a aucun article dans la catégorie sélectionnée !</p>

                    {% endif %}

                </div>                 

            {% include 'FrontOfficeHomepageBundle:Slots:sidebar.html.twig' with {'listCategory':listCategory} %}

            <hr>

    {% endblock %}

 