{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}
    {%  use('FrontOfficeHomepageBundle:Slots:sidebar.html.twig') %}

	{% block content %}

    <!-- Page Content -->
    <div class="container" style="background-color:white;">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                {% for message in app.session.flashbag.get('succes') %}
                    {{ message }}
                {% endfor %}

                <!-- Blog Post -->

                <!-- Title -->
                <h1>{{ showOneArticle.title }}</h1>

                <!-- Author -->
                <p class="lead">
                    Thème : {{ showOneArticle.subject }}</a>
                </p>

                <hr>

                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span>Posté le : {{ showOneArticle.dateCreated | date('d-m-Y H:i:s') }}</p>

                <hr>

                <!-- Preview Image -->
                <img class="img-responsive" src="../../img/{{ showOneArticle.image }}.jpg" alt="image-developpeurs" style ="width:750px;">

                <hr>

                <!-- Post Content -->
                <p class="lead">{{ showOneArticle.content }}</p>

                <hr>

                <!-- Blog Comments -->

                <!-- Comments Form -->
                <div class="well">
                    <h4>Postez un commentaire :</h4>
                        <form role="form">
                            <div class="form-group">
                                {# <textarea class="form-control" rows="3"></textarea> #}
                              {{ form(form) }}
                            </div>
                        </form>
                </div>

                <hr>

                <!-- Posted Comments -->

                <!-- Comment -->
                {% for com in comments %}
                    <div class="media">
                        <a class="pull-left" href="#">
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading"> {{ com.userName}}
                                <small>{{ com.dateCreated |date('d-m-Y H:i:s')}}</small>
                            </h4>
                           {{ com.message}}
                        </div>
                    </div>
                {% endfor %}

            </div>

            {{ include('FrontOfficeHomepageBundle:Slots:sidebar.html.twig') }}
        
        </div>
        <!-- /.row -->

        <hr>

        {% endblock %}