{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div class="col-lg-12 text-center">
            <img class="img-responsive img-border img-full" src="img/slide-1.jpg" alt="">
                <h2>{{ showOneArticle.title }}
                    <br>
                    <small>{{ showOneArticle.subject }} <br>
                           {{ showOneArticle.dateCreated | date('d-m-Y H:i:s') }}</small>
                </h2>
                    <p style="text-align:justify">{{ showOneArticle.content }}</p>
                    <hr>
        </div>

        <div class="col-lg-12 text-center">

        		<h2>Ajoutez un commentaire :</h2>
        			{{ form(formComment) }}
        		
        </div>

        <div class="col-lg-12 text-center">

        		<h2>Liste des commentaires :</h2>

                {% for com in showOneArticle.comment %}

                    {{ com.userName}}<br>
                    {{ com.message}}<br>
                    {{ com.dateCreated |date('d-m-Y H:i:s')}}<br>

                {% endfor %}
                      
        </div>

	{% endblock %}