{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

    {% block content %}

    <div class="container">

            {% if(is_granted('ROLE_USER')) %}
                <div style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px;">
                    <strong>Bonjour {{ app.user.username }} !</strong>
                </div>
                <hr>
            {% endif %}
       
            {% for message in app.session.flashbag.get('succes') %}
                 <div style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px">
                    {{ message }}
                 </div>
                 <hr>
            {% endfor %}

            {% for messa in app.session.flashbag.get('notice') %} 
                <div style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px">
                    {{ messa }}
                </div>
                <hr>
            {% endfor %}

            {% for mess in app.session.flashbag.get('creation') %}
                 <div style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px">
                    {{ mess }}
                 </div>
                 <hr>
            {% endfor %}

            {% for mes in app.session.flashbag.get('creasoc') %}
                 <div style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px">
                    {{ mes }}
                 </div>
                 <hr>
            {% endfor %}  

            {% for me in app.session.flashbag.get('select') %} 
                <div style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px">    {{ me }}
                </div>
                <hr>
            {% endfor %}

            {% for conta in app.session.flashbag.get('contact') %}
               <div style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px">    {{ conta }}
                </div>
                <hr>
            {% endfor %}

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="{{ asset('img/slide-1.jpg') }}" alt="" style="height:450px;width:750px;">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('img/slide-2.jpg') }}" alt="" style="height:450px;width:750px;">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="{{ asset('img/slide-3.jpg') }}" alt="" style="height:450px;width:750px;">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">JobInfo</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>By
                            <strong>Christophe Houlet</strong>
                            <div>Développeur Web - PHP - Symfony</div>
                        </small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Bienvenue sur mon site !
                        
                        <strong> Ami visiteur, bonjour</strong>
                    </h2>



                    <hr>
                    <p>Cher visiteur, si tu es arrivé sur ce site, cela signifie que tu t'intéresses à mon travail. Application d'entraînement réalisée avec une intégration  Boostrap et basée sur la technologie Symfony, elle n'a pour d'autre ambition que de vous présenter mon savoir-faire technique. Elle n'a donc aucunement vocation à devenir un véritable site de recherche d'emploi. Connectez-vous sur mon compte GITHUB pour accéder au code source : <a href="https://github.com/chhoulet/jobinfo.git">https://github.com/chhoulet/jobinfo.git</a>. </p>
                    <p>Passionné par le monde du développement web, j'ai versionné plusieurs applis sur GitHub que je vous invite à consulter si mon profil vous intéresse :<br>
                           - <a href="https://github.com/chhoulet/sportsweb.git">https://github.com/chhoulet/sportsweb.git</a><br>
                           - <a href="https://github.com/chhoulet/immo.git">https://github.com/chhoulet/immo.git</a><br>
                           - <a href="https://github.com/chhoulet/vin.com.git">https://github.com/chhoulet/vin.com.git</a><br>
                           - <a href="https://github.com/chhoulet/voiture.com.git">https://github.com/chhoulet/voiture.com.git</a><br>
                    Elles sont présentées ici de la plus récente à la plus ancienne. Sports Web est actuellement en cours de développement pour un client et est donc "en évolution constante".</p>
                    <p>N'hésitez pas à utiliser les liens suivants ci-dessous pour tester l'application, enregistrer de faux CV, ou une société et de fausses offres d'emplois. Consultez-les ensuite dans votre espace personnel. Laissez si vous le souhaitez un commentaire sur les différents articles de ce blog, ou contactez-moi en utilisant le lien "contact" présent en bas de page. Vous apprendrez plus sur mon parcours et mes compétences en cliquant sur l'onglet <a href="{{ path('front_office_homepage_static_about') }}">About</a>. Je serai ravi de lire vos mails et d'apprendre ce qui vous plait sur mon site, ce que vous aimeriez y trouver, bref d'avoir votre ressenti !</p>
                 </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Accédez à vos espaces personnels
                        <strong>Candidats / Employeurs</strong>
                    </h2>
                    <hr>
                    <hr class="visible-xs">
                    <p>Développeurs, intégrateurs, spécialistes réseaux et big Data : faîtes la rencontre professionnelle de votre vie ! Grâce à JobInfo, vous pourrez enregistrer vos CV et Lettres de Motivation dans votre espace personnel, faire un tri personnalisé des offres d'emplois et maximiser vos chances de trouver le poste de vos rêves :</p>                                        
                        
                        {# Les functions d'acces à son espace perso ou de creation de celui-ci exigent d'etre inscrit sur le site #}
                        {% if (is_granted('ROLE_USER')) %}
                            {# Controle d'acces à l'espace perso conditionné à la saisie d'un profil candidat.#}
                            {% if (app.user.personnalSpaceActive) %}
                                    <p>Accéder à votre espace personnel :
                                    <a href="{{ path('front_office_emploi_candidat_createCV') }}">Enregistrer un CV</a>
                                    <a href="{{ path('front_office_emploi_candidat_createLM') }}">Enregistrer une Lettre de Motivation</a><br></p>
                            {% else %}                                
                                    {# Function de creation d'un espace perso : #}
                                    <p><a href="{{ path('front_office_emploi_candidat_new') }}">Créez votre espace personnel !</a> Et enregistrer CV et lettres de motivation, et répondez à nos offres !</p>
                            {% endif %}
                        {% else %}
                            {# Redirection vers l'authentification : #}
                            <a href="{{ path('fos_user_security_login') }}">Connectez-vous à votre compte :</a>
                            {# Redirection vers la function de creation de compte : #}
                            <p>Pas encore inscrit ? Créez votre compte personnel :
                            <a href="{{ path('fos_user_registration_register') }}">Enregistrez-vous !</a></p>               
                        {% endif %}                                                     

                    <p>Consultez la liste des <a href="{{ path('front_office_emploi_employer_list') }}">sociétés qui recrutent !</a><br><br></p>

                    <p>Starts-up, cabinets conseil, grandes entreprises, SSII, rencontrez le candidat idéal ! Venez proposer des postes à des candidats qualifiés dans tous les domaines du Web qui vous intéressent, donnez leur chance à des débutants, et convainquez des experts de travailler avec vous. Jobinfo vous donnera les clés d'un recrutement réussi :</p>
                        
                            {% if (is_granted('ROLE_USER')) %} 

                                {# Controle d'acces à l'espace perso conditionné à la saisie d'un profil society.#}
                                {% if app.user.personnalSpaceActive %}
                                    <p>Gérer votre compte personnel :
                                    <a href="{{ path('front_office_emploi_myProfil') }}">Accéder à votre espace employeur</a></p> 
                                    {# Les functions d'acces à son espace perso ou de creation de celui-ci exigent d'etre inscrit sur le site #}                                
                                {% else %}
                                    <a href="{{ path('front_office_emploi_employer_createSociety')}}">Créer votre espace personnel :</a> 
                                {% endif %}

                            {% else %}

                                    {# Redirection vers l'authentification : #}
                                    <a href="{{ path('fos_user_security_login') }}">Connectez-vous à votre compte :</a>
                                    {# Redirection vers la function de creation de compte : #}
                                    <p>Pas encore inscrit ? Créez votre compte sur Jobinfo :
                                    <a href="{{ path('fos_user_registration_register') }}">Je m'inscris pour pouvoir créer mon espace employeur !</a>  

                            {% endif %} 
                        
                                                                           

                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Triez les annonces :
                        <strong>Contrat / Secteur d'activité</strong>
                    </h2>
                    <hr>
                    <p><h4>{{ form(formJobOffers) }}</h4></p><br>    
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Voir les formations disponibles :</h2>
                    <hr>
                        {% for forma in formation %}
              
                            <h3 class="intro-text text-center">
                                <strong>{{ forma.formationName }}</strong>
                            </h3>
                            <p>Organisme: {{ forma.organism }}</p><br>
                            <p>Description de la formation: {{ forma.formationDescription}}</p><br>
                            <a href="{{ path('front_office_formation_showOne',{formationType:forma.formationType, id:forma.id}) }}"><button class="btn btn-primary">Détails :</button></a><br><br>
                            <p>Sélectionner les formations qui vous intéressent:<br><br>
                            <a href="{{ path('front_office_formation_list', {formationType: 'integration'}) }}"><button class="btn btn-primary">Intégration :</button></a>
                            <a href="{{ path('front_office_formation_list', {formationType:'architecte-logiciel'}) }}"><button class="btn btn-primary">Architecte logiciel :</button></a>
                            <a href="{{ path('front_office_formation_list',{formationType: 'developpement'}) }}"><button class="btn btn-primary">Développement :</button></a>
                            <a href="{{ path('front_office_formation_list',{formationType: 'bdd'}) }}"><button class="btn btn-primary">Base de Données :</button></a>
                            <a href="{{ path('front_office_formation_list',{formationType: 'reseaux'}) }}"><button class="btn btn-primary">Réseaux :</button></a>
                            <a href="{{ path('front_office_formation_list',{formationType: 'devMob'}) }}"><button class="btn btn-primary">Applis sur Mobile :</button></a><br>    

                        {% endfor %}
                    <hr>
                </div>
            </div>
        </div>

        

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Forums emploi, Forums formation</h2>
                    <hr>
                        {% for foru in forum %} 

                            <h2 class="intro-text text-center">
                                <strong>{{ foru.forumName }}</strong>
                            </h2>
                                        
                            <p><h4>{{ foru.forumType }}</h4></p><br>
                            <p>{{ foru.forumDescription}}</p><br>
                            <a href="{{ path('front_office_forum_list',{forumType:'emploi'} ) }}"><button class="btn btn-primary">Forums de l'emploi :</button></a>
                            <a href="{{ path('front_office_forum_list',{forumType:'formation'} ) }}"><button class="btn btn-primary">Forums de formation Web :</button></a>                                                                                                   
                        {% endfor %}
                    <hr>
                 </div>
            </div>
        </div>
    
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Dernières offres d'emploi parues :</h2>
                    <hr>

                    {% for job in jobOffers %}
                                    
                        <h2 class="intro-text text-center">
                            <strong>{{ job.title }}</strong>
                        </h2>
                        <hr>
                        <p><h4>{{ job.descriptionJob }}</h4></p><br>
                        <p>{{ job.contract }}</p><br>
                        {% for societe in job.society %}
                            <p><h3>{{ societe.name }}</h3></p><br>
                            <p>{{ societe.activity }}</p><br>
                            <p>{{ societe.description }}</p><br>
                        {% endfor %}
                        <a href="{{ path('front_office_emploi_jobOffer_showOne',{id:job.id}) }}">En savoir plus :</a><br>

                        {% if (is_granted('ROLE_USER')) %}
                            <a href="{{ path('front_office_emploi_jobOffer_select',{id:job.id}) }}">Sélectionner cette offre :</a><br>
                        {% else %}
                            <p>Vous souhaitez postuler à cette offre ? <a href="{{ path('fos_user_security_login')}}">Connectez-vous et créez votre espace personnel !</a></p>
                        {% endif %}
                    
                    {% endfor %}

                 </div>
            </div>
        </div>        

    </div>
    <!-- /.container -->

    {% endblock %}