{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div class="container">

			<div style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px">

				<h2 style="text-align:center;border-style:solid;border-radius:12px; background-color:#BEBEBD;padding:30px;"> {{ oneSociety.name }}</h2><br>

					<div style="text-align:left">
																	
						<strong>Métier:</strong> {{ oneSociety.activity }}<br>
						<strong>Description:</strong> {{ oneSociety.description }}<br>
						<strong>Inscrite sur le site depuis le:</strong> {{ oneSociety.dateCreated | date('d-m-Y') }}<br>

					</div>

						{% if oneSociety.hiringState == false %}
							<p>Cette société n'est actuellement plus en recherche de talents !</p>
						{% else %}			

						<hr>							

							<p>Offres d'emploi de {{ oneSociety.name }} :</p>

								<div style="text-align:left">	

									{% for job in oneSociety.jobOffer %}											
										<strong>Poste: </strong><a href="{{ path('front_office_emploi_jobOffer_showOne',{id:job.id}) }}">{{ job.title }}</a><br>
										<strong>Ville: </strong>	{{ job.place }}<br>
										<strong>Description: </strong> {{ job.descriptionJob }}<br>
										<strong>Contrat: </strong> {{ job.contract }}<br>
										<strong>Offre publiée le: </strong> {{ job.dateCreated | date('d-m-Y') }}<br>										
									
									{% if job.activeToPurchase == false %}
											<p style="text-align:center">Cette offre est pourvue !</p>
									{% else %}
											<p style="text-align:center">Poste à pourvoir !</p>
									{% endif %}

									{% endfor %}

								</div>

							<hr>

						{% endif %}

						{% if oneSociety.forum is not empty %}

							<p>{{ oneSociety.name }} participe aux forums suivants :</p>

							<div style="text-align:left;">

								{% for forum in oneSociety.forum %}
									<h4 style="text-align:center;"><a href="{{ path('front_office_forum_oneForum',{id:forum.id}) }}">{{ forum.forumName }}</a></h4>
								<strong>Type:</strong>	{{ forum.forumType }}<br>
								<strong>Date:</strong>	{{ forum.forumDate | date('m-d-Y') }}<br>
								<strong>Description:</strong>	{{ forum.forumDescription }}<br>
									<hr>
								{% endfor %}

							</div>

						{% else %}						

							</p>{{oneSociety.name }} n'est inscrite à aucun évenement.</p>
							<hr>

						{% endif %}

						<a href="{{ path('front_office_emploi_employer_list')}}"><button>Retour à la liste des sociétés</button></a>
				
			</div>

		</div>

	{% endblock %}