{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

{# Recuperation de l'objet response à l'aide d'une boucle, pour afficher tous les CV et les LM des candidats #}
		{% for response in getResponseJobOffer %}

			<h3>Détail de la candidature :</h3>

				{{ response.content }}<br><br>
				{{ response.dateCreated | date('d-m-Y') }}<br><br>

					{% for cuv in response.cuvitae %}
						{% if cuv.gradeOne %}				
								Diplome 1: {{ cuv.gradeOne }}<br>
							{% endif %}
							{% if cuv.gradeTwo %}
								Diplome 2: {{ cuv.gradeTwo }}<br>
							{% endif %}
							{% if cuv.languages %}
								Langues: {{ cuv.languages }}<br>
							{% endif %}
							{% if cuv.workExperience1 %}
								Expérience professionnelle 1: {{ cuv.workExperience1 }}<br>
							{% endif %}
							{% if cuv.workExperience2 %}
								Expérience professionnelle 2: {{ cuv.workExperience2 }}<br>
							{% endif %}
							Languages et compétences informatiques: {{ cuv.skills }}<br>
							{% if cuv.dateUpdated %}
								<p>Dernière mise à jour le : {{ cuv.dateUpdated | date('d-m-Y') }}<br><br>
							{% else %}
								<br>
							{% endif %}
						{# {{ cuv.title }}<br>
						{{ cuv.gradeOne }}<br><br>
						{{ cuv.gradeTwo }}<br>
						{{ cuv.languages }}<br>
						{{ cuv.workExperience1 }}<br>
						{{ cuv.workExperience2 }}<br>
						{{ cuv.skills }}<br><br> #}
					{% endfor %}

					{% for lem in motivationLetter %}
						{{ lem.subject }}
						{{ lem.content }}
					{% endfor %}

		{% endfor %}

	{% endblock %}