{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}
		
		
			{% for message in app.session.flashbag.get('select') %}				
				<div class="flash">{{ message }}</div>			
			{% endfor %}

			{% for messa in app.session.flashbag.get('notice') %}				
				<div class="flash">{{ messa }}</div>				
			{% endfor %}
		
			<div style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px">

				<h2>Détail de l'offre</h2>

					<h4>{{ showOneJobOffer.title}}</h4><br>
						<p><a href="{{ path('front_office_emploi_employer_oneSociety',{id:showOneJobOffer.society.id}) }}">{{ showOneJobOffer.society.name}}</a><br>

						{{ showOneJobOffer.descriptionJob }}<br><br>

						Statut : {{ showOneJobOffer.contract }}<br><br>


						Lieu : {{ showOneJobOffer.place }}<br><br>

						Offre postée le : {{ showOneJobOffer.dateCreated | date('d-m-Y H:i:s') }}<br><br>

						{% if showOneJobOffer.activeToPurchase == false %}
							<p>Cette offre est pourvue !</p>
						{% else %}
							<p>Poste à pourvoir !</p>
							{% if (is_granted('ROLE_USER')) %}
								<a href="{{ path('front_office_emploi_jobOffer_responseJobOffer',{id:showOneJobOffer.id}) }}">Répondez à cette annonce :</a><br>
								<a href="{{ path('front_office_emploi_jobOffer_select',{id:showOneJobOffer.id}) }}">Sélectionner cette offre</a><br>
							{% else %}
						 		<p>Vous souhaitez postuler à cette offre ? <a href="{{ path('fos_user_security_login')}}">Connectez-vous et créez votre espace personnel !</a></p>
							{% endif %} 
						{% endif %}

					
					
					{% if (is_granted('ROLE_SUPER_ADMIN')) %}
				    	<a href="{{ path('back_office_adminformation_delete',{id:showOneJobOffer.id}) }}">Supprimer cet élément</a> 
					{% endif %}

			</div>
	    
	{% endblock %}