{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px">

			<h2 id="top">Votre sélection :</h2>

				{% if jobOffersByTri == null %}

					<p>Aucune annonce ne correspond à votre sélection !</p>

				{% else %}

					{% for job in jobOffersByTri %}
						{{ job.title}}<br><br>
						<a href="{{ path('front_office_emploi_employer_oneSociety',{id:job.society.id}) }}">{{ job.society }}</a>
						{{ job.descriptionJob }}<br>
						{{ job.dateCreated | date('d-m-Y H:i:s') }}<br>
						<a href="{{ path('front_office_emploi_employer_oneSociety',{id:job.society.id}) }}">{{ job.society }}</a>			

					{% if (is_granted('ROLE_USER')) %}
						<a href="{{ path('front_office_emploi_jobOffer_responseJobOffer',{id:job.id}) }}">Répondez à cette annonce :</a>
					{% else %}
						<p>Vous souhaitez postuler à cette offre ? <a href="{{ path('fos_user_security_login')}}">Connectez-vous !</a></p>
	                {% endif %}

	                {% endfor %}

	                <a href="#top"><button style="margin-left:475px;">Retour en haut de page</button>

	            {% endif %}

	{% endblock %}