{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		<div style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px">

			<h2 id="top">Votre sélection :</h2>

				{% if jobOffersByTri == null %}

					<p>Aucune annonce ne correspond à votre sélection !</p>

				{% else %}

					{% for job in jobOffersByTri %}
						<p style="text-align:center;"><a href="{{ path('front_office_emploi_jobOffer_showOne',{id:job.id}) }}">{{ job.title }}</a></p>

						<strong>Poste proposé :    </strong> {{ job.descriptionJob }}<br>
						<strong>Contrat :          </strong> {{ job.contract }}<br>
						<strong>Date de l'annonce :</strong> {{ job.dateCreated | date('d-m-Y') }}<br>
						<strong>Sélectionnée le :  </strong> {{ job.dateSelected | date('d-m-Y') }}<br>
						<hr>		

						{% if (is_granted('ROLE_USER')) %}
							<a href="{{ path('front_office_emploi_jobOffer_select',{id:job.id}) }}">Selectionnez cette annonce :</a>
						{% else %}
							<p>Vous souhaitez postuler à cette offre ? <a href="{{ path('fos_user_security_login')}}">Connectez-vous !</a></p>
		                {% endif %}

	                {% endfor %}

	                <a href="#top"><button style="margin-left:475px;">Retour en haut de page</button>

	            {% endif %}

	{% endblock %}