<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JobInfo - Christophe Houlet</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">  

    <!-- Custom CSS -->
    <link href="{{ asset('css/agency.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Montserrat:400,700') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Kaushan+Script') }}" rel='stylesheet' type='text/css'>
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic') }}" rel='stylesheet' type='text/css'>
    <link href="{{ asset('https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700') }}" rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
		
	<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll">Christophe Houlet Développeur Web</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{ path('front_office_homepage_homepage') }}">Homepage JobInfo</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Compétences</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Mon parcours</a>
                    </li>                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bienvenue sur mon profil !</div>
                <div class="intro-heading">Faisons connaissance</div>
                <a href="#services" class="page-scroll btn btn-xl">Mes compétences</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Développeur Back-end</h2>
                    <h3 class="section-subheading text-muted">Orienté résolument back-end, je me spécialise sur Symfony 2</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">HTML - CSS Bootstrap</h4>
                    <p class="text-muted">En plus des langagues de base de mise forme de pages Internet, je construis mes applications à grand renfort de thèmes Bootstrap.Base des différentes intégrations de mes applications, je choisis mes thèmes généraux comme des éléments du site via ce CMS.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Symfony 2</h4>
                    <p class="text-muted">Roi des frameworks PHP, je me suis spécialisé sur cette technologie au travers de trois applications d'entraînement, oeuvres de "jeunesse", une présentant mon savoir-faire sur laquelle vous surfez actuellement, et une en cours de réalisation pour un client.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">PHP</h4>
                    <p class="text-muted">Toujours à la recherche de nouvelles compétences dans ce domaine pour remplir le container de services !</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Portfolio</h2>
                    <h3 class="section-subheading text-muted">Mes réalisations, de la plus ancienne à celle en cours de codage :</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/roundicons.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4><a href="https://github.com/chhoulet/voiture.com.git">Voiture.com</a></h4>
                        <p class="text-muted">Ma toute première réalisation Symfony 2</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/startup-framework.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4><a href="https://github.com/chhoulet/vin.com.git">Vin.com</h4>
                        <p class="text-muted">Site de e-commerce de vin</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/treehouse.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4><a href="https://github.com/chhoulet/immo.git">Immo</a></h4>
                        <p class="text-muted">Agence immobilière et 3eme appli d'entrainement</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/golden.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4><a href="https://github.com/chhoulet/jobinfo.git">JobInfo</a></h4>
                        <p class="text-muted">Vous surfez actuellement sur cette appli qui vous présente mon savoir-faire récent !</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="img/portfolio/escape.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4><a href= "https://github.com/chhoulet/sportsweb.git">Sports Web</a></h4>
                        <p class="text-muted">Site de mise en relation de sportifs, cette application est actuellement en cours de développement pour un client.</p>
                    </div>
                </div>                
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Mon parcours</h2>
                    <h3 class="section-subheading text-muted">2014 : La Révélation - Je tombe dans le code !</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014</h4>
                                    <h4 class="subheading">Découverte de la programmation : VBA</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A la suite d'une rupture conventionnelle, je souhaite apprendre à faire des macros sous Excel. Découverte de la programmation informatique, puis déçision de se reconvertir dans le Web</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Septembre 2014</h4>
                                    <h4 class="subheading">Formation à la 3W Academy</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Formation accélérée aux langages et méthodes de base du web : HTML, CSS, Javascript, PHP, POO, architecture MVC, et bien sûr, introduction à Symfony2.6</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Janvier 2015</h4>
                                    <h4 class="subheading">Spécialisation Symfony2</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Un mois de formation de spécialisation pour aller plus loin dans la découverte de ce framework, assurée à la 3W Academy.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Depuis février 2015</h4>
                                    <h4 class="subheading">Développement d'applications:</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Cinq applications - dont une toujours en cours - ont été développées depuis, toujours plus complexes, dans le but d'assurer ma montée en compétences et de présenter mon savoir-faire. Et dans le cas de Sports Web, de devenir, pourquoi pas, une start-up à succès!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Et à l'avenir ?</h4>
                                    <h4 class="subheading">Décrocher la certification "Expert" de Sensio Lab sur Symfony !</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Mon objectif aujourd'hui ? Rejoindre une équipe de drogués du code pour pouvoir m'adonner à ma passion en milieu professionnel, via une convention de stage Pôle Emploi :<a href="http://www.pole-emploi.fr/candidat/l-action-de-formation-prealable-au-recrutement-afpr--@/article.jspz?id=60635">Action de Formation Préalable au Recrutement</a>.Un stage d'un mois sans ausune obligation de quelque nature qu'elle soit de la part de l'employeur est possible via une convention du même organisme. J'aimerais idéalement rejoindre une start-up ou une société informatique, m'intégrer à un projet motivant et ... rester sur le long terme dans la structure.</p>
                                </div>
                            </div>
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>
    </section>

 
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
                <div class="col-lg-3 text-center">
                    <p><a href="{{ path('front_office_homepage_static_mentions_legales')}}">Mentions Légales</a></p>
                </div>
                <div class="col-lg-3 text-center">
                    <p><a href="{{ path('front_office_homepage_static_conditions_generales')}}">Conditions Générales de Vente</a></p>
                </div>
                <div class="col-lg-3 text-center">
                    <p><a href="{{ path('front_office_homepage_static_contact') }}">Contact</a></p>
                </div>
                <div class="col-lg-3 text-center">
                    <p><a href="#page-top">Retour en haut de page</a></p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ asset('js/jquery.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ asset('http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js') }}"></script>
    <script src="{{ asset('js/classie.js') }}"></script>
    <script src="{{ asset('js/cbpAnimatedHeader.js') }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ asset('js/jqBootstrapValidation.js')}}"></script>
    <script src="{{ asset('js/contact_me.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ asset('js/agency.js') }}"></script>

</body>

</html>


	