{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

		 {% for forum in forums %}

    		 <div class="row">
                <div class="box">
                    <div class="col-lg-12">
                        <hr>

                        <div style="background-color:white;text-align:center;margin:auto;padding:40px;font-size:20px">
                            {% for messa in app.session.flashbag.get('notice') %}                             
                                {{ messa }}                           
                                <hr>
                            {% endfor %}
                        </div>

                        <h2 class="intro-text text-center">
                            <strong>{{forum.forumName}}</strong>
                        </h2>
                        <hr>
                        <p>{{ forum.forumDate | date('d-m-Y')}}</p><br>
                        <p>{{ forum.forumDescription}}</p>

                        <a href="{{ path('front_office_forum_oneForum',{id:forum.id}) }}"><button class="btn btn-primary">Détails :</button></a>

                        {% if (is_granted('ROLE_USER')) %}

                            {% for user in forum.inscrits %}
                                {% if app.user.id == user.id %}
                                    <p><strong>Vous êtes déjà inscrit à ce forum !</strong></p>
                                {% endif %}
                            {% endfor %}

                        {% else %}

                            <a href="{{ path('fos_user_security_login') }}"><button class="btn btn-primary">Connectez-vous pour vous inscrire !</button></a>

                        {% endif %}
                        
                    </div>
                </div>
            </div>

    	{% endfor %}

	{% endblock %}