{% extends 'FrontOfficeHomepageBundle::layout.html.twig' %}

	{% block content %}

        {% if (formation) %}

            <div class="container" style="background-color:white;">		          
               {% for format in formation %}

                    <div class="box">
                        <div class="col-lg-12">
                                
                            <h2 style="text-align:center;border-style:solid;border-radius:12px; background-color:#FFCCFF;padding:30px;" class="intro-text text-center">
                            <a href="{{ path('front_office_formation_showOne',{formationType: format.formationType, id:format.id})}}"><strong>{{format.formationName}}</strong></a>
                                </h2>
                            <hr>

                            <p><strong>Type :</strong> {{ format.formationType | capitalize }}</p>
                            <p><strong>Date de création:</strong> {{ format.createdAt | date('d-m-Y H:i:s') }}</p>
                            <p><strong>Description:</strong> {{ format.formationDescription }}</p>
                            <p><strong>Organisme :</strong> {{ format.organism }}</p>

                        </div><br>                                                                  
                    </div>
                    
                {% endfor %}        		                   
            </div>

        {% else %}

            <p style="text-align:center;border-style:solid;border-radius:12px; background-color:#FFCCFF;padding:30px;">Aucune formation prévue dans ce domaine !</p>

        {% endif %}

	{% endblock %}
    