{% extends 'BackOfficeBundle::layout.html.twig' %}

    {% block content %}

		<h2 id="top"> Liste des offres d'emplois disponibles : </h2>

            {% for message in app.session.flashbag.get('succes') %}
                {{ message }}
            {% endfor %}

            {% for messag in app.session.flashbag.get('notice') %}
                {{ messag }}
            {% endfor %}

    		{% for job in showJobOffers %}
    		<div class="row">
                <div class="box">
                    <div class="col-lg-12">
                        <hr>
                        <h2 class="intro-text text-center">{{ job.title }}
                            <strong></strong>
                        </h2>
                        <hr>
                        <p>Date de création : {{ job.dateCreated | date('d-m-Y H:i:s') }}</p>
                        <p style="text-align:justify;">{{job.descriptionJob}}</p>
                    </div>
                    <a href="{{ path('back_office_adminjobOffer_edit',{id:job.id}) }}"><button>Mise à jour :</button></a>
                    <a href="{{ path('front_office_emploi_jobOffer_showOne',{id:job.id}) }}"><button>Détails :</button></a>
                    <a href="{{ path('back_office_adminjobOffer_delete',{id:job.id}) }}"><button>Supprimer cet élément</button></a>
                </div>
            </div>
        	{% endfor %}

            <hr>

             <a href="#top"><button>Retour en haut de page</button></a>

	{% endblock %}