{% extends 'BackOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div class="container"></div>
			<div class="row"></div>

				<h3 style="text-align:center;">Statistiques des Offres d'emploi :</h3>

				<div class="col-lg-4">

					<h3>Offres publiées par ville :</h3>

						<ul>
							{% for place in nbJobOffersByPlace %}
								<li>{{ place.name}} est le lieu de {{ place.nb }} {% if place.nb > 1 %}postes.{% else %}poste.{% endif %}</li><br>
							{% endfor %}
						</ul>

				</div>

				<div class="col-lg-4">

					<h3>Offres publiées par société :</h3>

						<ul>
							{% for society in nbJobOffersBySociety %}
								<li>{{ society.name }} a publié {{ society.nb }}{% if society.nb > 1 %} offres d'emplois.{% else %} offre d'emploi.{% endif %}</li><br>
							{% endfor %}
						</ul>

				</div>

				<div class="col-lg-4">

					<h3>Offres publiées par métier :</h3>

						<ul>
							{% for job in nbJobOffersByJobSector %}
								<li>La catégorie {{ job.nameSector }} a été l'objet de {{ job.nb }}{% if job.nb > 1 %} offres d'emplois.{% else %} offre d'emploi.{% endif %}</li><br>
							{% endfor %}
						</ul>

				</div>


				<div class="col-lg-4">

					<h3>Offres publiées par nombre de réponses obtenues :</h3>

						<ul>
							{% for job in nbJobOffersWithMoreResponses %}
								<li>L'offre de {{ job.title }} a été l'objet de {{ job.nb }}{% if job.nb > 1 %} réponses.{% else %} réponse.{% endif %}</li><br>
							{% endfor %}
						</li>
				</div>


				<div class="col-lg-4">

					<h3>Offres publiées par Ville :</h3>

						<ul>
							{% for job in placeByNbJobOffers %}
								<li>{{ job.name }} est l'objet de {{ job.nb }} {% if job.nb >1 %} offres d'emplois.{% else %} offre d'emploi.{% endif %}</li><br>
							{% endfor %}
						</ul>
				</div>	

				<hr>		

			</div>
		</div>

	{% endblock %}