{% extends 'BackOfficeBundle::layout.html.twig' %}

    {% block content %}

		<h2> Liste des forums : </h2>

    		{% for forum in showForums %}
    		<div class="row">
                <div class="box">
                    <div class="col-lg-12">
                        <hr>
                        <h2 class="intro-text text-center">{{ forum.forumName }}
                            <strong>{{forum.forumType}}</strong>
                        </h2>
                        <hr>
                        <p>Date de création : {{forum.forumDate | date('d-m-Y H:i:s') }}</p>
                        <p style="text-align:justify;">{{ forum.forumDescription}}</p>
                    </div>
                    {# <a href="{{ path('back_office_adminformation_edit',{id:forma.id}) }}"><button>Edition :</button></a>
                    <a href="{{ path('back_office_adminformation_delete',{id:forma.id}) }}">Supprimer cet élément</a> #}
                </div>
            </div>
        	{% endfor %}

	{% endblock %}